SystemName=TranscriptHub
PORT=443
ContainerName=aisuite
OriginAllowList=https://localhost;http://localhost
AllowMethods=POST;GET;PUT;DELETE
ResponseType=code

DocumentRoot=www/html
TemplateRoot=www/template/
UploadFolder=tmp/
JobsFile=joblists

mailHost=smtp.sinica.edu.tw
smtpPort=25
smtpEmail=its@sinica.edu.tw
smtpPassword=

#sslKeyfile=D:\TranscriptHub\apps\backend\key.pem
#sslCertification=D:\TranscriptHub\apps\backend\certificate.pem

TranslateEndpoint=https://localhost:3000/api/v1/rest/
TranslateUrl=https://localhost:3000/api/v1/rest/CreateTranscribeTask
TranslateQueryUrl=https://localhost:3000/api/v1/rest/ViewAllTask
DownloadServer=https://localhost:3000/api/v1/rest/RetrieveTranscribe/

Scope=basic
TokenUrl=https://localhost/index.php/sso2/access_token
UserUrl=https://localhost/index.php/sso2/basic
JwtKey=justgps@gmail.com

MaxUploadSize=290

NGROK_AUTHTOKEN=
RAGUrl=