ffmpeg-python==0.2.0
opencc-python-reimplemented==0.1.7
python-dotenv==0.21.0
huggingface-hub==0.24.6
hf_xet==1.1.5
ckip-transformers==0.3.4
setuptools==70.0.0
faster-whisper==1.2.1
torch==2.6.0
torchaudio==2.6.0
transformers==5.10.0
